body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* images below temporarily adjusted to aid in ease of page construction. REMOVE ASSOCIATED HTML ONCE FINISHED*/

.image {
    width: 15%;
    height: auto%;
}
/* images above temporarily adjusted to aid in ease of page construction REMOVE ASSOCIATED HTML ONCE FINISHED*/
/* begin header section */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

#logo {
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 600;
}

#header-links {
    display: flex;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* end header section */

