* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* images below temporarily adjusted to aid in ease of page construction. REMOVE ASSOCIATED HTML ONCE FINISHED*/

.image {
    width: 15%;
    height: auto;
}
/* images above temporarily adjusted to aid in ease of page construction REMOVE ASSOCIATED HTML ONCE FINISHED*/
/* begin header section */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

#logo {
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 600;
}

#header-links {
    display: flex;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* end header section */
/* begin about section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 75px;
    background-color: #1f2937;
    color: white;
}

#about-text-container {
    display: flex;
    flex-direction: column;
    min-width: 434px;
    max-width: 30vw;
    flex-wrap: wrap;
}

#about-text-container > h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: 0;
}

#about-text-container > p {
    font-size: 18px;
}

#sign-up-button {
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
}

#about-image-container {
    display: flex;
    min-width: 434px;
    max-width: 30vw;
}

.about-image {
    width: 100%;
}
