* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* Header section */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

#header #logo {
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 600;
}

#header #header-links {
    display: flex;
    font-size: 18px;
}

#header ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* About section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 75px;
    background-color: #1f2937;
    color: white;
}

#about #about-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 434px;
    max-width: 30vw;
    gap: 10px;
}

#about #about-text-container > h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: 0;
}

#about #about-text-container > p {
    font-size: 18px;
    padding-bottom: 10px;
}

#about #sign-up-button {
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    color: white;
}

#about #about-image-container {
    display: flex;
    min-width: 434px;
    max-width: 30vw;
}

#about .image {
    width: 100%;
    border-radius: 8px;
}
/* Features Section */
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #818d9d;
}

#features h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

#features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 275px;
}

#features .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    
}

.feature-text h3,p {
    margin: 0;
}
/* Testimonials section */
#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
}

#testimonials h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}

#testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.testimonial-text {
    width: 300px;
    padding-bottom: 10px;
    font-style: italic;
}
.testimonial-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#testimonials .image {
    width: 60px;
    border-radius: 100px;
}

.profile-bio {
    display: flex;
    flex-direction: column;
}

.profile-bio h3, p {
    margin: 0;
    padding: 0;
}
/* Sign-up section */
#sign-up {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
}

#sign-up-container {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin: auto;
    background: #3b82f6;
}

.newsletter-header, .newsletter-text {
    margin: 0;
    padding: 0;
    color: white;
}

.newsletter-header {
    padding-bottom: 10px;
}

#subscribe-button {
    display: flex;
    width: 125px;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
    border: 3px solid white;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 900;
}
/* Footer section */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
}

#footer>p {
    font-weight: 300;
    font-size: 18px;
    color: white;
}