* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* begin header section */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

#logo {
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 600;
}

#header-links {
    display: flex;
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* end header section */
/* begin about section */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 75px;
    background-color: #1f2937;
    color: white;
}

#about-text-container {
    display: flex;
    flex-direction: column;
    min-width: 434px;
    max-width: 30vw;
    gap: 10px;
    flex-wrap: wrap;
}

#about-text-container > h1 {
    font-size: 48px;
    font-weight: 900px;
    margin: 0;
}

#about-text-container > p {
    font-size: 18px;
    padding-bottom: 10px;
}

#sign-up-button {
    width: 125px;
    height: 35px;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
}

#about-image-container {
    display: flex;
    min-width: 434px;
    max-width: 30vw;
}

#about .image {
    width: 100%;
    border-radius: 8px;
}
/* end about section */
/* begin features section */
#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #818d9d;
}

#features h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

#features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 275px;
}

#features .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    
}

.feature-text h3,p {
    margin: 0;
}
/* end features section */
/* begin testimonials section */
#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 70px;
}

#testimonials h2 {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}

#testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.testimonial-text {
    width: 300px;
    font-style: italic;
}
/* Mental speration */
.testimonial-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#testimonials .image {
    /* display: flex; */
    /* flex-shrink: 0; */
    width: 60px;
    border-radius: 100px;
}

.profile-bio {
    display: flex;
    flex-direction: column;
}

.profile-bio h3, p {
    margin: 0;
    padding: 0;
}
